[StatsD]
url: statsd.server.example.com
port: 8125

[Twitter]
consumer_key: XXXXXXXXXXXXXX
consumer_secret: XXXXXXXXXXXXXXXXXXXXXXX
app_name: "Coffee Machine"

[PyCoffeeD]
url: http://192.168.1.101:5000
