<!doctype html>
<html>
  <head>
    <title>PyCoffeeD</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/coffee.css">
  </head>
  <body>
    <div id="blocker">
      <div>Loading...</div>
    </div>
    <div class="hero-unit">
      <div>
        <img id="graph" src=""/>
        <h1>Looking up cups of coffee...</h1>
        <h2>Calculating remaining caffeine...</h2>
        <div>
          <a href="https://twitter.com/hugelabscoffee" class="twitter-follow-button" data-show-count="false">Follow @hugelabscoffee</a>
          <iframe id="github" class="hide" src="http://ghbtns.com/github-btn.html?user=kevineder&repo=PyCoffeeD&type=fork" allowtransparency="true" frameborder="0" 
            scrolling="0" width="53px" height="20px"></iframe>
        </div>
      </div>
    </div>
  </body>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="/static/jquery.xdomainajax.js"></script>
  <script src="/static/main.js"></script>
</html>
