<!doctype html>
<html>
  <head>
    <title>PyCoffeeD</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/coffee.css">
  </head>
  <body>
    <div class="hero-unit">
      <img id="graph" src="http://placekitten.com/g/800/325"/>
      <h1>There are {{stats.cups}} cups of coffee left.</h1>
      <h2>(That's {{stats.ounces}} ounces, {{stats.grams}} grams, and {{stats.caffeine}} of caffeine.)
    </div>
  </body>
</html>
